<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS - Button Toggle and Total Display</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="myController">
  <h1>Button Toggle and Total Display</h1>
  
  <button ng-click="clickMe()" ng-disabled="disableClickMe">Click Me!</button>
  <button ng-click="showButton = true">Show Button</button>
  <button ng-click="showButton = false">Hide Button</button>
  
  <p ng-show="showTotal">Total: {{ total }}</p>
</div>

<script>
  angular.module('myApp', [])
    .controller('myController', function($scope) {
      $scope.disableClickMe = false;
      $scope.showButton = true;
      $scope.total = 0;
      
      $scope.clickMe = function() {
        $scope.disableClickMe = true;
        $scope.showTotal = true;
        // Assuming some calculation is done here to get the total
        $scope.total = 100; // Change this value to calculate a different total
      };
    });
</script>

</body>
</html>



